{
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning"
    }
  },
  "AllowedHosts": "*",
  "ConnectionStrings": {
    "DefaultConnection": "CONNECTION_STRING_HERE"
  },
  "JwtSettings": {
    "Key": "SECRET_KEY_HERE",
    "Issuer": "ShortTermStayAPI",
    "Audience": "ShortTermStayAPIClient",
    "DurationInMinutes": 60
  }
}
